html{
    height:100%;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.header-links{
    display:grid;
    grid-template-columns:repeat(2,50px) 1fr repeat(4,50px);
    grid-template-rows: 50px;
    grid-template-areas: 
    'about store . gmail images options sign-in';
    justify-items: center;
    align-items: center;
}

.header-links a {
    text-decoration: none;
    font-size:13px;
    color:black;
}

#about{grid-area:about}
#store{grid-area:store}
#gmail{grid-area:gmail}
#images{grid-area:images}
#options{grid-area:options}
#sign-in{grid-area:sign-in}


.main-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 150px;
    grid-template-areas: 
    '. logo-container .'
    '. input-form .';
    justify-items: center;
    align-items:center;
}
.search-bar{
    margin: 20px;
    padding-left:25px;
    height:44px;
    width: 582px;
    border-radius:24px;
    border: 1px solid #dfe1e5;
    font-size:16px;
}
#button-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

input[type="submit"]{
    margin: 5px;
    padding: 8px 10px 8px 10px;
    text-align:center;
    background-color:#f2f2f2;
    color:#5f6368;
    font-size:14px;
    border: 1px solid #f2f2f2;
}

#search-button{
    justify-self: left;
}
#lucky-button{
    justify-self: right;
}

#logo-container{
    grid-area:logo-container;
    align-self: end;
}
#input-form{grid-area:input-form}

footer{

}
.footer-links{
    display:grid;
    grid-template-columns: repeat(2, 75px) 120px 1fr repeat(3,60px);
    grid-template-areas:
    'advertising business hsw . privacy terms settings';
    justify-items:center;
    align-items:center;
}
.footer-links  a{
    text-decoration: none;
    font-size:13px;
    color:black;
}

#advertising{grid-area:advertising}
#business{grid-area:business}
#hsw{grid-area:hsw}
#privacy{grid-area:privacy}
#terms{grid-area:terms}
#settings{grid-area:settings}


